body {
	margin: 0;
	padding: 0;
	background-color: #31343b;
	color: #1e222b;
	font-size: 14px;
	font-family: 'Open Sans';
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
}

.clr {
	clear: both;
}

a {
	color: #1e222b;
	text-decoration: none;
	transition: all .15s linear;
}

a:hover {
	color: #1e222b;
}

h1,
h2,
h3,
h4,
h5,
b {
	font-weight: 600;
}

.hidden {
	display: none !important;
}

.content {
	width: 1100px;
	margin: 0 auto 30px;
}

.logo {
	float: left;
	color: #fff;
	font-weight: 800;
	font-size: 25px;
	margin: 20px 0 0 35px;
}

.logo span {
	color: #fe840c !important;
}

.logo:hover {
	color: #f3f3f3;
}

.header {
	background-color: #1e222b;
	height: 78px;
}

.header ul {
	float: right;
	margin: 26px 20px 0 0;
}

.header ul li {
	float: left;
}

.header ul li a {
	color: #fff;
	font-size: 18px;
	padding: 10px 15px 11px;
}

.header ul li a:hover {
	background-color: #29303e;
	border-radius: 4px;
}

.content_white {
	background-color: #f3f3f3;
	padding: 20px;
}

.block_stat {
	float: left;
	width: 50%;
}

.stat1 {
	width: 32%;
	float: left;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	padding: 0;
	margin: 6px 0 0;
	border-right: 1px solid #e0e0e0;
}

.stat1 p {
	font-weight: 800;
	font-size: 38px;
}

.login_block {
	width: 50%;
	float: left;
}

.login_off {
	background-image: -webkit-linear-gradient(-90deg, #414756 0, #1f232d 100%);
	background-image: -moz-linear-gradient(180deg, #414756 0, #1f232d 100%);
	background-image: linear-gradient(180deg, #414756 0, #1f232d 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	border-radius: 4px;
	width: 275px;
	height: 46px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 16px 0 0 100px;
	margin: 10px auto;
	display: block;
	position: relative;
}

.login_off:after {
	background: url(/assets/images/steam.png) no-repeat;
	content: '';
	position: absolute;
	top: 15px;
	left: 30px;
	width: 69px;
	height: 32px;
}

.login_off:hover {
	background-image: -webkit-linear-gradient(-90deg, #1f232d 0, #1f232d 100%);
	background-image: -moz-linear-gradient(180deg, #1f232d 0, #1f232d 100%);
	background-image: linear-gradient(180deg, #1f232d 0, #1f232d 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	color: #fff;
}

.user_photo {
	width: 90px;
	height: 90px;
	float: left;
	background-color: #e7e7e7;
	margin: 0 0 0 0;
	position: relative;
}

.user_photo img {
	max-width: 90px;
	max-height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.desc_user_profile {
	float: left;
	margin: 0 0 0 15px;
}

.profile {
	position: relative;
	width: 100%;
	height: 90px;
}

.nikname {
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 12px 0;
}

.prof_link {
	background: url(/assets/images/profile.png) no-repeat;
	padding: 0 0 0 23px;
	text-decoration: underline;
	display: block;
	margin: 0 0 12px 0;
}

.inven_link {
	background: url(/assets/images/inventory.png) no-repeat 0 3px;
	padding: 0 0 0 23px;
	text-decoration: underline;
	display: block;
}

.prof_link:hover,
.inven_link:hover {
	text-decoration: none;
}

.login_out {
	float: right;
	margin: 0 0 0 0;
	padding: 3px 10px;
	background: #e7e7e7;
	border-radius: 4px;
}

.login_out:hover {
	background-color: #1e222b;
	color: #fff;
}

.balance {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 16px;
}

.balance span {
	font-weight: 600;
	color: #fe840c;
}

.add_balance {
	width: 26px;
	height: 26px;
	border-radius: 100px;
	background-color: #fe840c;
	color: #fff;
	text-align: center;
	display: inline-block;
	font-size: 21px;
	line-height: 24px;
	margin: 0 0 0 5px;
}

.add_balance:hover {
	background-color: #1e222b;
	color: #fff;
}

.game_standart {
	width: calc(50% - 2px);
	float: left;
	height: 62px;
	border: 1px solid #afb0b3;
	margin: 20px 0 0 0;
	background: url(/assets/images/game_standart.png) no-repeat 20px 9px;
	cursor: pointer;
	transition: all .15s linear;
}

.game_standart.active,
.game_bomj.active {
	background-color: #fe840c !important;
	border: 1px solid #fe840c;
}

.game_standart.active .desc_bs span,
.game_bomj.active .desc_bs span {
	color: #fff;
}

.game_standart:hover,
.game_bomj:hover {
	background-color: #e7e7e7;
}

.game_bomj {
	width: calc(50% - 2px);
	float: left;
	height: 62px;
	border: 1px solid #afb0b3;
	margin: 20px 0 0 0;
	background: url(/assets/images/game_bomj.png) no-repeat 20px 12px;
	cursor: pointer;
	transition: all .15s linear;
}

.desc_bs {
	float: left;
	margin: 10px 0 0 75px;
}

.desc_bs p {
	font-weight: 800;
	font-size: 18px;
}

.bank_game {
	float: right;
	margin: 20px 15px 0 0;
	font-size: 16px;
}

.bank_game span {
	font-weight: 800;
}

.side_blok {
	border-top: 1px solid #c6c6c6;
	font-size: 22px;
	padding: 20px 30px;
	margin-top: 20px;
}

.number_game_side {
	float: left;
	margin: 0 0 0 0;
	padding: 0 30px 0 0;
	border-right: 1px solid #aeaeae;
}

.bank_game_side {
	float: left;
	margin: 0 0 0 30px;
}

.number_game_side span,
.bank_game_side span {
	font-weight: 800;
}

.sound-control {
	background: url(/assets/images/sound_on.png) no-repeat;
	width: 21px;
	height: 20px;
	float: right;
	margin: 6px 0 0 0;
	cursor: pointer;
}

.nosound .sound-control {
	background: url(/assets/images/sound_off.png) no-repeat;
	width: 21px;
	height: 20px;
	float: right;
	margin: 6px 0 0 0;
	cursor: pointer;
}

.bar-container {
	width: 100%;
	height: 80px;
	margin: 25px 0;
}

.item-bar-wrap {
	height: 70px;
	width: 710px;
	float: left;
	background-color: #1e222b;
	padding: 5px;
	position: relative;
}

.item-bar-text {
	position: relative;
	text-align: center;
	font-size: 14px;
	color: #fff;
	z-index: 99;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.item-bar-text span {
	display: block;
	font-size: 30px;
	font-weight: 800;
}

.item-bar {
	background-color: #fe840c;
	height: 70px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 9;
	overflow: hidden;
	-webkit-transition: 0.7s ease;
	transition: 0.7s ease;
	transform: rotateZ(360deg)
}

@keyframes stripes {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		-webkit-transform: translate3d(-100px, 0, 0);
		transform: translate3d(-100px, 0, 0);
	}
}

.progressbar-stripes {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1500px;
	background: url(/assets/images/zebra.png) 0 0 repeat-x;
	-webkit-animation: stripes 3s linear infinite;
	animation: stripes 3s linear infinite;
}

.bar-text {
	float: left;
	margin: 24px 15px 0 32px;
	font-weight: 800;
	font-size: 18px;
}

.timer-new {
	float: right;
	font-size: 60px;
	font-weight: 600;
	color: #fe840c;
}

.timer-new .countMinutes {
	float: left;
	margin: -5px 0 0 0;
}

.countDiv {
	float: left;
	margin: -10px 13px 0;
}

.timer-new .countSeconds {
	float: left;
	margin: -5px 0 0 0;
}

.block_opisanie {
	border-bottom: 1px solid #c6c6c6;
	padding: 0 0 15px;
}

.comr {
	float: left;
	width: calc(33% - 40px);
	position: relative;
	padding: 0 0 0 40px;
}

.comr2 {
	float: left;
	width: calc(34% - 40px);
	position: relative;
	padding: 0 0 0 40px;
}

.comr3 {
	float: left;
	width: calc(33% - 40px);
	position: relative;
	padding: 0 0 0 40px;
}

.comr4 {
	float: left;
	width: calc(67% - 40px);
	position: relative;
	padding: 0 0 0 40px;
}

.comr:after,
.comr2:after,
.comr3:after,
.comr4:after {
	position: absolute;
	content: '';
	background: url(/assets/images/comr.png) no-repeat;
	width: 25px;
	height: 22px;
	top: 8px;
	left: 0;
}

.but_comr {
	width: 100%;
	display: block;
	background-color: #fe840c;
	color: #fff;
	text-align: center;
	padding: 7px 0;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 4px;
	font-weight: 400;
}

.but_comr:hover {
	background-color: #31343b;
	color: #fff;
}

.but_comr2 {
	width: 290px;
	display: block;
	background-color: #fe840c;
	color: #fff;
	text-align: center;
	padding: 7px 0;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 4px;
	font-weight: 400;
	float: left;
}

.but_comr2:hover {
	background-color: #31343b;
	color: #fff;
}

.but_comr3 {
	width: 290px;
	display: block;
	background-color: #434855;
	color: #fff;
	text-align: center;
	padding: 7px 0;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 4px;
	font-weight: 400;
	float: left;
}

.but_comr3:hover {
	background-color: #31343b;
	color: #fff;
}

.comr4 span {
	float: left;
	font-weight: 800;
	margin: 7px 30px;
}

.dlock_link {
	padding: 15px 0;
}

.dlock_link a {
	height: 60px;
	float: left;
	display: block;
	width: 340px;
	border: 1px solid #d6d6d6;
	background-color: #e7e7e7;
	text-align: center;
	padding: 14px 0 0 0;
	font-size: 16px;
}

.dlock_link a:nth-child(2),
.dlock_link a:nth-child(3) {
	margin: 0 17px;
}

.dlock_link a:hover {
	background-color: #31343b;
	color: #fff;
	border: 1px solid #31343b;
}

.body_curent_user {
	background-color: #31343b;
	overflow: hidden;
	text-align: center;
	padding: 15px;
	margin: 15px 0;
}

.current_user {
	display: inline-block;
	margin: 5px;
}

.current_user a {
	display: block;
	width: 70px;
	height: 70px;
	background-color: #4c5260;
	position: relative;
}

.current_user a img {
	position: absolute;
	max-width: 70px;
	max-height: 70px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.shance {
	background: url(/assets/images/shance.png) no-repeat;
	width: 78px;
	height: 24px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	margin: -5px 0 0 -4px;
	padding: 6px 0 0 0;
}

.rullet_block_user {
	text-align: center;
	padding: 15px 6px;
	background-color: #31343b;
	height: 70px;
	overflow: hidden;
	margin: 15px 0;
	position: relative;
}

.ruser_b {
	width: 70px;
	height: 70px;
	display: inline-block;
	float: left;
	margin: 0 0 0 5;
	background-color: #4c5260;
	text-align: center;
}

.ruser_b img {
	max-width: 70px;
	max-height: 70px;
}

.ukazatel {
	position: relative;
	left: 0;
	right: 0;
	margin: -38px auto 0;
	width: 67px;
	height: 29px;
	background: url(/assets/images/ukazatel.png) no-repeat;
}

#errorBlock {
	background: #ff4444;
	padding: 10px;
	text-align: center;
}

.win_desc_user {
	font-size: 16px;
	padding: 15px 0 0 0;
}

.win_desc_user ul {
	float: left;
}

.win_desc_user ul li {
	vertical-align: middle;
	height: 38px;
}

.win_desc_user ul li img {
	width: 35px;
	height: 35px;
	vertical-align: middle;
	margin: 0 10px 0 15px;
}

.win_bil {
	font-weight: 600;
	color: #fe840c;
}

.proverka_hesh {
	background-color: #e7e7e7;
	padding: 3px 10px;
	border-radius: 4px;
	border: 1px solid #d2d2d2;
	margin: 0 0 0 15px;
}

.proverka_hesh:hover {
	background-color: #4c5260;
	color: #fff;
	border: 1px solid #4c5260;
}

.nik_user_win {
	font-weight: 800;
}

.winner_money {
	font-size: 20px;
	color: #fe840c;
	font-weight: 800;
}

.right-block {
	float: right;
}

.newGemaText {
	font-size: 18px;
	font-weight: 600;
}

.link_obmen {
	background-color: #fe840c;
	padding: 15px 0 30px;
	text-align: center;
	position: relative;
	margin: 15px 0;
}

.link_obmen:after {
	content: '';
	position: absolute;
	top: 30px;
	left: 60px;
	background: url(/assets/images/obmen.png) no-repeat;
	width: 65px;
	height: 64px;
}

.link_obmen h3 {
	font-size: 24px;
	font-weight: 600;
}

.link_obmen form {
	width: 600px;
	margin: 15px auto;
}

.link_obmen_wh {
	float: right;
	margin: 18px 40px 0 0;
	text-decoration: underline;
}

.link_obmen_wh:hover {
	text-decoration: none;
}

.inp_link_obmen {
	width: calc(100% - 37px);
	height: 37px;
	background-color: #f3f3f3;
	padding: 0 15px;
	border: none;
	font-size: 14px;
	float: left;
	font-family: 'Open Sans';
}

.sub_but_obmen {
	background: #31343b url(/assets/images/sub_obmen.png) no-repeat center center;
	width: 37px;
	height: 37px;
	border: none;
	outline: none;
	cursor: pointer;
	float: left;
	transition: all .15s linear;
}

.sub_but_obmen:hover {
	background: #4c5260 url(/assets/images/sub_obmen.png) no-repeat center center;
}

.inp_promo {
	width: calc(100% - 37px);
	height: 37px;
	background-color: #e2e2e2;
	padding: 0 15px;
	border: none;
	font-size: 14px;
	float: left;
	font-family: 'Open Sans';
}

.sub_promo {
	background: #31343b url(/assets/images/sub_obmen.png) no-repeat center center;
	width: 37px;
	height: 37px;
	border: none;
	outline: none;
	cursor: pointer;
	float: left;
	transition: all .15s linear;
}

.sub_promo:hover {
	background: #4c5260 url(/assets/images/sub_obmen.png) no-repeat center center;
}

.deposit_user {
	border: 1px solid #d7d4d4;
	padding: 20px;
	margin: 0 0 10px 0;
}

.deposit_user:nth-child(2n+1) {
	background-color: #e7e7e7;
}

.head_block_deposit {
	width: 100%;
	position: relative;
	font-size: 16px;
}

.nikname_deposit_user {
	font-size: 16px;
	color: #fe840c;
	font-weight: 600;
}

.nikname_deposit_user:hover {
	color: #fe840c;
	text-decoration: underline;
}

.mon_deposit_u {
	background-color: #fe840c;
	padding: 1px 5px;
	color: #fff;
}

.head_block_deposit img {
	width: 40px;
	height: 40px;
	margin: 0 15px 0 0;
	vertical-align: middle;
}

.bilety_rdep {
	float: right;
	margin: 8px 0 0 0;
	font-size: 16px;
}

.bilety_rdep span {
	font-weight: 600;
}

.items_block_deposit {
	padding: 15px 0 0;
}

.weapon_deposit {
	background-image: -webkit-linear-gradient(-90deg, #aeafb0 0, #54565a 100%);
	background-image: -moz-linear-gradient(180deg, #aeafb0 0, #54565a 100%);
	background-image: linear-gradient(180deg, #aeafb0 0, #54565a 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	width: 100px;
	height: 100px;
	position: relative;
	margin: 5px;
	float: left;
}

.weapon_deposit img {
	max-width: 80px;
	max-height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.price_weapon_deposit {
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.game_start h3 {
	font-size: 24px;
	margin: 0 0 30px;
}

.game_start {
	text-align: center;
	background-color: #fe840c;
	padding: 15px 0 30px;
	position: relative;
	margin: 15px 0 0 0;
}

.game_start p {
	color: #fff;
}

.game_start:after {
	content: '';
	position: absolute;
	top: 30px;
	left: 60px;
	background: url(/assets/images/game_start.png) no-repeat;
	width: 65px;
	height: 64px;
}

.she_g {
	padding: 3px 15px;
	border-radius: 4px;
	background-color: #1e222b;
	color: #fff;
	margin: 0 20px 0 0;
}

.she_g:hover {
	color: #fff;
	background-color: #282d3a;
}

.date_game_start {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 15px;
	background-color: #1e222b;
	color: #fff;
}

.content_black {
	background-color: #1e222b;
	color: #fff;
	padding: 25px 45px 15px;
}

.content_black h3 {
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	margin: 0 0 30px;
}

.content_black p {
	margin: 15px 0;
}

.game_end h3 {
	font-size: 24px;
	margin: 0 0 30px;
}

.game_end {
	text-align: center;
	background-color: #fe840c;
	padding: 15px 0 30px;
	position: relative;
	margin: 15px 0;
}

.game_end p {
	color: #fff;
}

.game_end:after {
	content: '';
	position: absolute;
	top: 30px;
	left: 60px;
	background: url(/assets/images/game_end.png) no-repeat;
	width: 65px;
	height: 64px;
}

.secret_p {
	margin: 20px 0 0 0;
}

.prov_secret {
	background: #f3f3f3;
	padding: 2px 10px;
	border-radius: 4px;
	margin: 0 0 0 15px;
}

.modal1,
.modal2 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(30, 34, 43, 0.8);
	z-index: 9999;
}

.modal1 .body_modal {
	width: 300px;
	padding: 30px 45px;
	background-color: #f3f3f3;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.title_modal_dep {
	font-size: 24px;
	text-align: center;
	margin: 0 0 30px;
}

.title_modal_dep span {
	color: #fe840c;
	font-weight: 800;
}

.input_modal {
	width: 100%;
	height: 44px;
	background-color: #484444;
	text-align: center;
	font-size: 20px;
	color: #fff;
	border-radius: 4px;
	border: none;
	outline: none;
	font-weight: 300;
	margin: 10px 0 0 0;
	font-family: 'Open Sans';
}

.sub_modal {
	background-color: #fe840c;
	color: #fff;
	text-transform: uppercase;
	height: 44px;
	width: 100%;
	border-radius: 4px;
	margin: 15px 0;
	outline: none;
	font-size: 20px;
	border: none;
	font-weight: 300;
	font-family: 'Open Sans';
	cursor: pointer;
	transition: all .15s linear;
}

.sub_modal:hover {
	background-color: #f47900;
}

.close {
	background: url(/assets/images/close.png) no-repeat;
	width: 19px;
	height: 19px;
	position: absolute;
	top: 10px;
	right: 10px;
	transition: all .15s linear;
}

.close:hover {
	background: url(/assets/images/close_hover.png) no-repeat;
}

.modal2 .body_modal {
	width: 450px;
	padding: 30px 45px;
	background-color: #f3f3f3;
	position: absolute;
	top: 15%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.modal2 {
	display: none;
}

.card_con {
	width: 80px;
	float: left;
	margin: 15px 0;
}

.card_con+.card_con {
	margin-left: 12px;
}

.card_con img {
	width: 80px;
	height: 60px;
}

.input_card_in {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #31343b;
	padding: 4px 0;
	cursor: pointer;
	font-size: 13px;
	transition: all .15s linear;
}

.input_card_in:hover {
	background-color: #fe840c;
	color: #fff;
}

.whit_cart {
	text-align: center;
	margin: 15px 0 0 0;
	padding: 0 0 15px 0;
}

.whit_cart span {
	background-color: #e5e6e7;
	font-size: 16px;
	padding: 4px 15px;
	border-radius: 4px;
	cursor: pointer;
	transition: all .15s linear;
}

.whit_cart span:hover,
.whit_cart span.active {
	background-color: #5e5e5e;
	color: #fff;
}

.con_whit_cart {
	display: none;
}

.con_whit_cart p {
	margin: 5px 0;
}

.select_game .game_standart,
.select_game .game_bomj {
	height: 45px;
	background-size: 20px;
}

.block_history {
	border-top: 1px solid #d6d6d6;
	padding: 15px 0;
	margin: 15px 0 0 0;
}

.title_block_all {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.title_block_all span {
	position: relative;
}

.title_block_all span:after {
	content: '';
	position: absolute;
	top: 16px;
	left: -55px;
	width: 40px;
	height: 2px;
	background-color: #fe840c;
}

.title_block_all span:before {
	content: '';
	position: absolute;
	top: 16px;
	right: -55px;
	width: 40px;
	height: 2px;
	background-color: #fe840c;
}

.game_standart_history {
	margin: 15px 0;
}

.comr_game {
	background-color: #eae9e9;
	border: 1px solid #afb0b3;
	padding: 20px;
	border-bottom: none !important;
}

.comr_game:nth-child(2n) {
	background-color: transparent;
}

.comr_game:last-child {
	border-bottom: 1px solid #afb0b3 !important;
}

.comr_game a:hover {
	text-decoration: underline;
}

.left_comr_game {
	float: left;
	margin: 0 30px 0 0;
}

.number_game_c {
	font-size: 18px;
	font-weight: 600;
}

.number_game_c span {
	color: #fe840c;
}

.shance_game_c {
	margin: 20px 0 0 0;
}

.shance_game_c span {
	font-weight: 600;
}

.left2_comr_game {
	float: left;
	margin: 0;
}

.win_user_comr_c img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin: 0 15px;
}

.win_user_comr_c span {
	font-weight: 600;
	font-size: 17px;
}

.bank_comr_c {
	margin: 10px 0 0 0;
}

.bank_comr_c span {
	font-size: 18px;
	font-weight: 800;
	color: #fe840c;
}

.right_comr_c {
	float: right;
}

.date_comr_c {
	background: #31343b;
	color: #fff;
	display: inline-block;
	float: right;
	padding: 2px 10px;
}

.status_items_comr_c {
	color: #08da03;
	font-weight: 600;
	margin: 35px 0 0 0;
	display: block;
	position: relative;
	border: 1px solid #08da03;
	padding: 2px 10px 2px 40px;
	border-radius: 4px;
}

.status_items_comr_c:after {
	content: '';
	position: absolute;
	top: 7px;
	left: 12px;
	background: url(/assets/images/ok.png) no-repeat;
	width: 14px;
	height: 10px;
}

.user_photo_profile {
	width: 110px;
	height: 110px;
	margin: 20px auto;
}

.user_photo_profile img {
	width: 110px;
	height: 110px;
	border-radius: 100px;
}

.nickname_profile {
	color: #2d3b59;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	margin: 0 15px 0;
	position: relative;
}

.nickname_profile:after {
	content: '';
	width: 60px;
	height: 2px;
	background-color: #fe840c;
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.date_profile {
	margin: 20px auto;
	text-align: center;
}

.date_profile li {
	display: inline-block;
	font-size: 18px;
	text-align: center;
	margin: 0 35px;
}

.date_profile li span {
	font-weight: 800;
	font-size: 48px;
	display: block;
}

.stat_profile {
	width: 100%;
	margin: 15px 0;
	border-collapse: collapse;
}

.stat_profile tr:nth-child(2n+1) td:nth-child(1) {
	background-color: #484c57;
}

.stat_profile tr:nth-child(2n+1) td:nth-child(1) a {
	color: #fff;
}

.stat_profile tr:nth-child(2n) td:nth-child(2) {
	background-color: #e2e2e3;
}

.stat_profile tr td {
	border: 1px solid #d3d4d6;
	font-size: 16px;
	text-align: center;
	padding: 12px 10px;
}

.stat_profile tr td span {
	font-weight: 800;
}

.stat_profile tr td a:hover {
	text-decoration: underline;
}

.win_prof {
	font-weight: 400 !important;
	color: #4fed45;
	position: relative;
	padding: 0 0 0 30px;
}

.win_prof:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(/assets/images/win.png) no-repeat;
}

.los_prof {
	font-weight: 400 !important;
	color: #fb4747;
	position: relative;
	padding: 0 0 0 30px;
}

.los_prof:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(/assets/images/los.png) no-repeat;
}

.top20 {
	width: 100%;
	border-collapse: collapse;
	margin: 15px 0;
}

.top20 thead tr {
	background-color: #484c57;
}

.top20 thead tr td {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 10px;
	color: #fff;
}

.top20 tbody tr {
	transition: all .15s linear;
}

.top20 tbody tr:nth-child(2n+1) {
	background-color: #eee;
}

.top20 tbody tr:hover {
	background-color: #e4e4e4;
}

.top20 tbody tr td {
	text-align: center;
	font-size: 16px;
	padding: 12px 10px;
}

.top20 tbody tr td img {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	border-radius: 100px;
	margin: 0 10px 0 0;
}

.top20 tbody tr td a:hover {
	text-decoration: underline;
}

.top20 tbody tr td a {
	font-weight: 600;
	color: #2d3b59;
}

.rate_top20 {
	border-radius: 100px;
	border: 1px solid #fe840c;
	font-weight: 800;
	color: #fe840c;
	width: 30px;
	height: 27px;
	display: inline-block;
	text-align: center;
	padding: 3px 0 0 0;
}

.win_rate_top20 {
	font-weight: 600;
	color: #fe840c;
}

.summa_banka_top20 {
	font-weight: 800;
	color: #6c7388;
}

.full_content {
	line-height: 18px;
}

.full_content p {
	margin: 10px 0;
}

.full_content h3 {
	font-weight: 800;
	margin: 30px 0 15px;
	text-align: center;
}

.full_content span {
	padding: 2px 7px;
	color: #fff;
	background-color: #fe840c;
}

#check {
	width: 100%;
	margin: 30px 0 0 0;
}

#check input {
	display: block;
	background: #31343b;
	border: none;
	font-size: 16px;
	color: #fff;
	padding: 13px 20px;
	font-family: 'Open Sans';
	float: left;
	width: 42.2%;
	margin: 0 2% 10px;
}

.honest-check {
	padding: 12px 0;
	text-align: center;
	font-size: 16px;
	background: #fe840c;
	color: #fff;
	cursor: pointer;
	width: 46%;
	margin: 0 2%;
	float: left;
	transition: all .15s linear;
}

.honest-check:hover {
	background-color: #ff9f41;
}

.honest-check-text {
	display: block;
	background: #31343b;
	border: none;
	font-size: 16px;
	color: #fff;
	padding: 13px 20px;
	font-family: 'Open Sans';
	float: left;
	width: 42.2%;
	margin: 0 2%;
}

#check input::-webkit-input-placeholder {
	color: #dddddd;
}

#check input::-moz-placeholder {
	color: #dddddd;
}

/* Firefox 19+ */

#check input:-moz-placeholder {
	color: #dddddd;
}

/* Firefox 18- */

#check input:-ms-input-placeholder {
	color: #dddddd;
}

.ref_body {
	width: 60%;
	margin: 30px auto;
}

.refferal {
	width: 100%;
	margin: 30px auto;
	border-collapse: collapse;
	border: none;
}

.refferal thead tr {
	background-color: #31343b;
}

.refferal thead td {
	color: #fff;
	text-align: left;
	font-size: 16px;
	font-family: 'Open Sans';
	padding: 12px 10px 12px 40px;
}

.refferal tbody tr:nth-child(2n+1) {
	background: #ececec;
}

.refferal tbody tr td {
	text-align: left;
	font-size: 16px;
	font-family: 'Open Sans';
	padding: 12px 10px 12px 40px;
}

.refferal tbody tr td img {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	vertical-align: middle;
	margin: 0 10px 0 0;
}

.refferal tbody tr td a {
	font-weight: 600;
}

.refferal tbody tr td a:hover {
	text-decoration: underline;
}

.ref_none {
	text-align: center;
}

.ref_none span {
	background: #ff5858;
	font-size: 20px;
	padding: 7px 20px;
}

.link_profile_traid {
	width: 70%;
	margin: 30px auto;
}

.inp_trade_profile {
	width: 80%;
	padding: 12px 20px;
	border: none;
	background: #31343b;
	font-size: 16px;
	font-family: 'Open Sans';
	float: left;
	color: #fff;
}

.sub_trade_profile {
	width: 20%;
	border: none;
	padding: 12px;
	font-size: 16px;
	font-family: 'Open Sans';
	background: #fe840c;
	color: #fff;
	cursor: pointer;
	transition: all .15s linear;
}

.sub_trade_profile:hover {
	background: #ffa042;
}

.link_profile_traid a {
	font-size: 13px;
	display: block;
	margin: 10px 0 0;
}

.link_profile_traid a:hover {
	text-decoration: underline;
}

.inp_trade_profile::-webkit-input-placeholder {
	color: #dddddd;
}

.inp_trade_profile::-moz-placeholder {
	color: #dddddd;
}

/* Firefox 19+ */

.inp_trade_profile:-moz-placeholder {
	color: #dddddd;
}

/* Firefox 18- */

.inp_trade_profile:-ms-input-placeholder {
	color: #dddddd;
}

a.supportFooter {
	position: fixed;
	bottom: 0;
	right: 50px;
	text-decoration: none;
	background: #4D6E92;
	color: #fff !important;
	padding: 5px 50px;
	font-weight: normal;
	border-radius: 5px 5px 0 0;
	z-index: 9999;
}

.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.42857143;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	font-size: 12px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.tooltip.in {
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.tooltip.top {
	margin-top: -2px;
	padding: 5px 0;
}

.tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}

.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
}

.tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
}

.tooltip-inner {
	padding: 4px 10px;
	color: #ffffff;
	text-align: center;
	background-color: #191919;
	border-radius: 4px;
	white-space: nowrap;
	line-height: 14px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #191919;
}

.tooltip.top-left .tooltip-arrow {
	bottom: 0;
	right: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
}

.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000000;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000000;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
}

.shop-list {
	text-align: center;
	width: 540px;
	height: 490px;
	padding: 5px;
	overflow-y: scroll;
	margin: 25px 25px 0;
	display: inline-block;
}

.shop-list .deposit-item {
	float: left;
	width: 100px;
	background: #e8e8e8;
	color: #fe840c;
	margin: 2px;
	transition: .3s;
	cursor: pointer;
}

.shop-list .deposit-item.item-selected {
	background: #fe840c;
	color: #f3f3f3;
}

.shop-list .deposit-item img {
	width: 80px;
	height: 80px;
	margin: 0 auto;
}

.shop-panel {
	width: 430px;
	min-height: 500px;
	border: 1px solid #f2b632;
	vertical-align: top;
	margin: 25px 0 0 0;
	display: inline-block;
}

.shop-panel h2 {
	margin: 20px 0 0;
}

.shop-panel h2,
.shop-panel h3 {
	margin: 20px 15px;
}

.coins {
	width: 11px;
	height: 13px;
	display: inline-block;
	background: url(/assets/images/coins-dark.png) center no-repeat;
	background-color: transparent !important;
}

.coins.big {
	width: 23px;
	height: 23px;
	background: url(/assets/images/coins-dark-big.png) center no-repeat;
}

.coins.white {
	background: url(/assets/images/coins-white.png) center no-repeat;
}

.coins.orange {
	background: url(/assets/images/coins-orange.png) center no-repeat;
}

.game-tabs {
	display: none;
}

.select_game {
	display: none;
}