@charset "UTF-8";
/*
 * Globals
 */
/* Links */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */
html,
body {
  min-height: 100%;
  background: #000;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  color: #fff;
}

.cover-container {
  max-width: 100%;
  background: #010101 url(/img/body-bg.png) no-repeat center top;
  width: 100%;
}

/*
 * Header
 */
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
@font-face {
  font-family: 'avanti';
  src: url("/fonts/avanti.eot");
  src: local("☺"), url("/fonts/avanti.woff") format("woff"), url("/fonts/avanti.ttf") format("truetype"), url("/fonts/avanti.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avanti';
  src: url("/fonts/Avanti Bold.eot");
  src: local("☺"), url("/fonts/Avanti Bold.woff") format("woff"), url("/fonts/Avanti Bold.ttf") format("truetype"), url("/fonts/Avanti Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'avanti', Verdana, Geneva, sans-serif;
  min-height: 100vh;
}

.container {
  min-width: 320px;
}

.btn {
  -webkit-border-radius: 0;
          border-radius: 0;
  max-width: 100%;
}

.btn.btn-dark {
  background: #000;
  border-color: #000;
  color: #ff8315;
  font-weight: 700;
  font-size: 18px;
}

.btn.btn-dark.btn-sm {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.btn.btn-lg {
  font-size: 24px;
}

.btn.btn-lg.btn-sign {
  border: 1px solid #fff;
  font-size: 24px;
  color: #000;
  background: #ff8315;
  padding-left: 32px;
  padding-right: 32px;
}

.btn.btn-lg.btn-sign.btn-block {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn.btn-lg.btn-sign span {
  line-height: 42px;
  display: inline-block;
  padding-left: 75px;
  background: url(/img/sign.png) no-repeat left center;
}

.btn.btn-lg.btn-sign:hover {
  background: #e06c06;
  border: 1px solid #e06c06;
}

.btn.btn-lg.btn-sign.btn-in {
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.btn.btn-border {
  background: none;
  border: 1px solid #fff;
  font-size: 16px;
}

.btn.btn-border.btn-success {
  border-color: #1bff15;
  color: #1bff15;
}

.btn.btn-border.btn-danger {
  border-color: #fe1414;
  color: #fe1414;
}

.btn.btn-lg.btn-sign {
  max-width: 350px;
}

.btn-link {
  text-decoration: underline;
  color: #ff8315;
}

.btn-link:hover {
  text-decoration: none;
}

.btn.btn-default.btn-sm {
  height: 50px;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  padding-top: 14px;
  padding-left: 18px;
  padding-right: 18px;
}

.btn.btn-default.btn-sm.btn-left {
  padding-top: 5px;
}

.preheader {
  padding: 15px 0 0;
  border-bottom: 1px solid #ff8315;
  margin-bottom: 10px;
}

.preheader .btn {
  margin-bottom: 15px;
}

.content .container {
  background: #020200;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aside {
  width: 270px;
  max-width: 270px;
}

.nav-link {
  padding: 0;
  border: 1px solid #ff8315;
  margin-bottom: 4px;
}

.nav-link:hover span {
  background: #df6b05;
  background: -webkit-linear-gradient(top, #df6b05 0%, #ff8315 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#df6b05), to(#ff8315));
  background: -o-linear-gradient(top, #df6b05 0%, #ff8315 100%);
  background: linear-gradient(to bottom, #df6b05 0%, #ff8315 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6b05', endColorstr='#ff8315', GradientType=0);
}

.nav-link span {
  position: relative;
  display: block;
  padding: 10px 0;
  margin-left: 48px;
  padding-left: 46px;
  border-left: 1px solid #ff8315;
  background: #ff8315;
  background: -webkit-linear-gradient(top, #ff8315 0%, #df6b05 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8315), to(#df6b05));
  background: -o-linear-gradient(top, #ff8315 0%, #df6b05 100%);
  background: linear-gradient(to bottom, #ff8315 0%, #df6b05 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8315', endColorstr='#df6b05', GradientType=0);
}

.nav-link span:before {
  content: '';
  display: block;
  position: absolute;
  height: 46px;
  width: 48px;
  background: url(/img/nav.png) no-repeat center;
  left: -49px;
  top: 0;
}

.nav-link.link__1 span:before {
  background-image: url(/img/nav-1.png);
}

.nav-link.link__2 span:before {
  background-image: url(/img/nav-2.png);
}

.nav-link.link__3 span:before {
  background-image: url(/img/nav-3.png);
}

.nav-link.link__4 span:before {
  background-image: url(/img/nav-4.png);
}

.nav-link.link__5 span:before {
  background-image: url(/img/nav-5.png);
}

.nav-link.link__6 span:before {
  background-image: url(/img/nav-6.png);
}

.nav-link.link__7 span:before {
  background-image: url(/img/nav-7.png);
}

.nav-link.link__8 span:before {
  background-image: url(/img/nav-8.png);
}

.nav-link.link__9 span:before {
  background-image: url(/img/nav-9.png);
}

.main-right {
  min-width: -webkit-calc(100% - 270px);
  min-width: calc(100% - 270px);
}

.navbar-brand .img-fluid {
  max-height: 29px;
}

.navbar .col-12 .btn.btn-lg.btn-sign {
  width: 100%;
  min-width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
}

.card {
  border-color: #ff8315;
  background-color: transparent;
  -webkit-border-radius: 0;
          border-radius: 0;
  text-align: center;
  margin-bottom: 18px;
}

.card .card-header {
  text-align: center;
  border-color: #ff8315;
  line-height: 1.1;
  padding: .5rem 1rem;
}

.card strong {
  color: #ff8315;
}

.card p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.2;
}

.card .card-body {
  padding: 0.6rem;
}

.card .card-link {
  color: #ff8315;
  text-decoration: underline;
}

.card .card-link:hover {
  text-decoration: none;
}

.card .card-footer {
  border-top-color: #ff8315;
  padding: .5rem 1rem;
}

.card .card-footer .row {
  text-align: left;
}

.border {
  border: 1px solid #fff !important;
}

.name-link {
  display: inline-block;
}

.name-link span {
  display: block;
  font-size: 18px;
  padding-top: 5px;
}

.flex-nowrap {
  word-wrap: normal;
}

.link-decorated {
  text-decoration: underline;
}

.link-decorated:hover {
  text-decoration: none;
}

.small,
small {
  font-size: 88%;
  font-weight: 400;
}

.input-group.form-group {
  margin-bottom: 0;
}

.content .card {
  border: 1px solid #ff8315;
  text-align: center;
}

.content .card .card-body {
  padding-left: 20px;
  padding-right: 20px;
}

.content .card .card-body p {
  line-height: 22px;
  margin-bottom: 0;
  font-size: 16px;
}

.content .card .card-body .title {
  font-size: 22px;
  margin-bottom: 5px;
  color: #ff8315;
  line-height: 1;
}

.card.card__succes {
  font-size: 18px;
  background: #006813;
  padding-top: 0;
  padding-bottom: 0;
}

.card.card__succes .link-decorated {
  color: #ff8315;
}

.form-small .form-control {
  height: 30px;
  border: 1px solid #000;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
}

.form-small .btn {
  height: 30px;
  line-height: 28px;
  padding: 0 12px;
}

.card-title__lg {
  font-size: 36px;
}

.promo .card {
  line-height: 1.2;
  margin-bottom: 18px;
}

.promo .card .card-body {
  padding: 0 5px;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #ff8315;
}

.row-line .item {
  font-size: 11px;
  padding-left: 50px;
  text-align: left;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  background: url(/img/row-2.png) 9px center no-repeat;
}

.row-line .item:first-child {
  background-image: url(/img/row-1.png);
}

.row-line .item:last-child {
  background-image: url(/img/row-3.png);
}

.promo .card .card-header {
  padding: 4px;
}

.title-row {
  padding-left: 23px;
  padding-right: 23px;
  height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff8315;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
  border-bottom: 1px solid #fff;
}

.title-row a {
  color: #000;
  text-decoration: none;
}

.title-center {
  text-align: center;
  padding: 14px 10px;
}

.title-center span {
  display: inline-block;
  padding-left: 30px;
  line-height: 24px;
  background: url(/img/watch.png) 0 center no-repeat;
  text-transform: uppercase;
  font-size: 18px;
}

.progress-bar-striped {
  background: url(/img/progress.png) 0 0 repeat-x;
}

.progress {
  background: none;
  height: 60px;
  border: 1px solid #fff;
  position: relative;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.progress .progress-text {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 1;
}

.progress .progress-text span {
  display: block;
  font-size: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timer {
  font-size: 48px;
  line-height: 1;
}

.timer .border {
  color: #ff8315;
  width: 82px;
  line-height: 58px;
}

.timer span {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}

.progress-block {
  margin-bottom: 18px;
}

.progress-block .col-lg-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.titile-go {
  background: #ff8315;
  background-image: url(/img/title-bg.png), url(/img/title-bg-r.png);
  background-repeat: no-repeat;
  background-position: 0 0, right 0;
  height: 48px;
  font-size: 25px;
  line-height: 1;
  font-weight: 700;
  color: #000;
  margin-bottom: 18px;
}

.titile-go span {
  font-size: 41px;
}

.titile-go .d-flex {
  padding-left: 10px;
  padding-right: 10px;
  background: #ff8315;
  min-height: 48px;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin-left: 3px;
}

.long-lg.btn.btn-lg.btn-sign {
  max-width: 470px;
}

.slide-line {
  position: relative;
}

.slide-prew,
.slide-next {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 46px;
  display: block;
  margin-top: -23px;
  -webkit-border-radius: 0 25px 25px 0;
          border-radius: 0 25px 25px 0;
  background: rgba(59, 72, 81, 0.5);
  text-indent: -999999px;
}

.slide-prew span,
.slide-next span {
  border: 9px solid transparent;
  border-right: 9px solid #ff8315;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-90%, -50%);
      -ms-transform: translate(-90%, -50%);
          transform: translate(-90%, -50%);
  width: 0;
  height: 0;
}

.slide-next {
  left: auto;
  right: 0;
  -webkit-border-radius: 25px 0 0 25px;
          border-radius: 25px 0 0 25px;
}

.slide-next span {
  border: 9px solid transparent;
  border-left: 9px solid #ff8315;
  -webkit-transform: translate(-10%, -50%);
      -ms-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
}

.slide-line {
  border-color: #3efb01;
  height: 98px;
  margin-bottom: 9px;
}

.slide-line:after,
.slide-line:before {
  display: none;
}

.slide-line .nav li {
  border: 4px solid #000;
}

.slide-line .nav li a,
.shop .nav li a {
  position: relative;
  display: inline-block;
}

.slide-line .nav li a .caption,
.shop .nav li a .caption {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 13px;
  line-height: 25px;
  font-weight: 700;
  background: rgba(53, 64, 72, 0.702);
  border-bottom: 4px solid #ffa200;
}

.caption.warning {
  border-color: yellow !important;
}

.caption.caption-info {
  border-color: #0072ff !important;
}

.caption.orange {
  border-color: #ffa200 !important;
}

.caption.pink {
  border-color: #e400ff !important;
}

.caption.red {
  border-color: #ff2400 !important;
}

.slide-line {
  overflow: hidden;
  border: 1px solid #ff8315;
  position: relative;
  margin-bottom: 18px;
  height: 98px;
  margin-bottom: 10px;
}

.table-item {
  font-size: 18px;
  color: #000;
  line-height: 1.2;
  text-align: center;
}

.table-item.bg-danger, .table-item.bg-primary {
  color: #fff;
}

.table-item.bg-danger .flaticon-coins:before, .table-item.bg-primary .flaticon-coins:before {
  color: #fff;
}

.table-item .flaticon-coins:before {
  font-size: 14px;
  color: #e18f01;
}

.table-item .avatar {
  width: 82px;
  height: 82px;
  display: block;
  margin: 10px;
}

.table-item > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-item .item-first {
  min-width: 100px;
}

.table-item .item-last {
  min-width: 130px;
  position: relative;
  background: url(/img/shevron-bg.png) repeat;
  padding-right: 30px;
  position: relative;
}

.table-item .item-last span {
  display: block;
  position: absolute;
  width: 28px;
  background: url(/img/item-right-r.png) repeat-y right top;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-item .item-last span i {
  font-style: normal;
  font-size: 14px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #000;
}

.table-item .item-last:before {
  content: '';
  display: block;
  width: 18px;
  height: 100%;
  background: url(/img/shevron.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  position: absolute;
  left: -18px;
  top: 0;
  bottom: 0;
}

.table-item .strong {
  font-size: 14px;
}

.strong {
  font-weight: 700;
}

.nowrap {
  white-space: nowrap;
}

.bg-warning {
  background-color: #fec106 !important;
}

.bg-danger {
  background-color: #ff240d !important;
}

.bg-primary {
  background-color: #0591fd !important;
}

.bg-text {
  background-color: #ff8315 !important;
  color: #000;
}

.flex-table,
.game-play {
  margin-bottom: 20px;
}

.play {
  display: block;
  width: 70px;
  height: 70px;
  background: url(/img/play.png) no-repeat center;
}

.play-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.border-line {
  height: 15px;
  background: #ff8315;
}

.message-block {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1500;
  max-width: 100%;
}

.message-block .message {
  width: 350px;
  max-width: 100%;
  margin-bottom: 2px;
  font-size: 18px;
}

.authorisation.d-flex {
  border: 1px solid #fff;
  font-size: 14px;
  color: #000;
  background: #ff8315;
  margin-bottom: 15px;
  padding: 4px;
  line-height: 1.2;
}

.authorisation.d-flex [class^="flaticon-"]:before {
  font-size: 14px;
}

.authorisation.d-flex a {
  color: #000;
}

.authorisation.d-flex .avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.authorisation.d-flex .nik {
  font-size: 16px;
  font-weight: 700;
}

.authorisation.d-flex .btn.btn-exit {
  margin-bottom: 0;
  padding: 0 !important;
  line-height: 1;
}

.authorisation.d-flex .btn.btn-exit .flaticon-arrow:before {
  font-size: 33px;
}

.authorisation.d-flex.authorisation__invert {
  border-color: #ff8315;
  color: #ff8315;
  background: none;
}

.authorisation.d-flex.authorisation__invert .avatar {
  border: 1px solid #ff8315;
}

.authorisation.d-flex.authorisation__invert a {
  color: #ff8315;
}

.slide-line.card-slide {
  overflow: hidden;
  border: 3px solid #fff;
  position: relative;
  margin-bottom: 18px;
  height: 90px;
  margin-top: 10px;
}

.slide-line.card-slide .nav {
  overflow: auto;
}

.slide-line.card-slide .nav li {
  border: 3px solid #fff;
  border-top: none;
  border-bottom: none;
}

.slide-line.card-slide .nav li img {
  display: block;
  width: 82px;
  height: 82px;
}

.info-panel span.highlight,
.info-panel a {
  color: #ff8315;
}

.info-panel a {
  font-size: 18px;
}

.info-panel p {
  margin: 0;
  line-height: 25px;
}

.info-panel .panel-center {
  width: 180px;
  text-align: center;
  padding-top: 95px;
  min-width: 115px;
  margin-top: 30px;
  background: url(/img/win.png) no-repeat center top;
  position: relative;
}

.info-panel .panel-center:before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 36px;
  background: url(/img/top.png) no-repeat center;
  left: 50%;
  top: -30px;
  margin-left: -18px;
}

.info-panel .panel-center .game-number {
  color: #ff8315;
  font-size: 16px;
}

.info-panel .panel-center .panel-item {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-bottom: 10px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info-panel .timer {
  font-size: 48px;
  width: 80px;
  text-align: center;
  color: #ff8315;
  line-height: 60px;
}

.info-panel .btn {
  margin-top: 13px;
}

.panel-left {
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  text-align: left;
}

.content .card .card-body .panel-left p {
  width: 100%;
}

.badge-text {
  font-size: 26px;
  color: #000;
  line-height: 1;
  padding: 10px 15px;
  background: #ff8315;
  font-weight: 700;
}

.nav-fill.filter {
  margin-left: -3px;
  margin-bottom: 0;
  margin-right: -3px;
  margin-top: 5px;
  padding-left: 0;
  padding-right: 0;
}

.nav-fill.filter .nav-item {
  width: -webkit-calc(25% - 6px);
  width: calc(25% - 6px);
  font-size: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-right: 3px;
  margin-left: 3px;
  border: 1px solid #ff8315;
  background: #000;
}

.nav-fill.filter .nav-item.active,
.nav-fill.filter .nav-item:hover {
  color: #fff;
  border-color: #fff;
}

.table {
  background-color: #020200;
}

.table thead th {
  border-top: 0;
  border-bottom: 3px double #ff8315;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  text-align: center;
  color: #ff8315;
  padding: 4px 8px;
  line-height: 20px;
}

.table tbody td {
  border-bottom: 3px double #ff8315;
  vertical-align: middle;
  font-size: 16px;
  text-align: center;
  padding: 3px 8px;
}

.table tbody td:first-child {
  border-left: 1px solid #ff8315;
}

.table tbody td:last-child {
  border-right: 1px solid #ff8315;
}

.table tbody td [class^="flaticon-"]:before,
.table tbody td [class*=" flaticon-"]:before,
.table tbody td [class^="flaticon-"]:after,
.table tbody td [class*=" flaticon-"]:after {
  font-size: 12px;
}

.link-line {
  white-space: nowrap;
}

.link-line img {
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  margin-right: 5px;
  display: inline-block;
}

.table.table-striped tbody tr {
  background-color: #2d2d2d;
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #000;
}

.table.table-striped tbody tr:last-child td {
  border-bottom: 1px solid #ff8315;
}

.card-block .card {
  text-align: left;
}

.card-block .card .card-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #ff8315;
  line-height: 20px;
  padding: 10px 12px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.card-block .card .card-text span.highlight {
  color: #ff8315;
}

.card-block .card .card-text {
  font-size: 14px;
  line-height: 1.2;
  padding: 10px 0 15px;
  margin-bottom: 0;
}

.card-block .card .text-title {
  text-transform: uppercase;
  color: #ff8315;
  display: block;
}

.card-block .card .card-body.card-text__margin p {
  margin-bottom: 15px;
}

.form-group .form-control {
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #000;
  color: #ff8315;
  border-color: #fff;
  font-size: 14px;
}

.form-control::-moz-placeholder {
  color: #ff8315;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #ff8315;
}

.form-control::-webkit-input-placeholder {
  color: #ff8315;
}

.btn-default {
  background: #ff8315;
  border: 1px solid #fff;
}

.btn-default:hover {
  background: #e06c06;
  border: 1px solid #e06c06;
}

.btn-left.btn-sm {
  border-color: #ff8315;
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 0;
  height: 30px;
}

.form-control.test-result {
  border-color: #ff8315;
}

.title-row.justify-content-center {
  font-weight: 400;
}

.win-right {
  min-width: 70px;
  font-size: 24px;
  color: #ff8315;
}

.top-border {
  border-top: 1px solid #484848;
  text-align: left;
  padding-top: 10px;
}

.slide-win {
  border: 0;
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
  margin-bottom: 0;
}

.slide-win .nav li {
  border: 0;
  padding: 0;
  min-width: 133px;
}

.pagination {
  margin-top: 20px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border: 0;
  background: none;
  color: #ff8315;
  font-size: 12px;
}

.page-item:first-child .page-link [class^="flaticon-"]:before,
.page-item:first-child .page-link [class*=" flaticon-"]:before,
.page-item:first-child .page-link [class^="flaticon-"]:after,
.page-item:first-child .page-link [class*=" flaticon-"]:after,
.page-item:last-child .page-link [class^="flaticon-"]:before,
.page-item:last-child .page-link [class*=" flaticon-"]:before,
.page-item:last-child .page-link [class^="flaticon-"]:after,
.page-item:last-child .page-link [class*=" flaticon-"]:after {
  font-size: 14px;
}

.page-link {
  position: relative;
  display: block;
  padding: 5px 0;
  width: 24px;
  text-align: center;
  margin-left: 6px;
  line-height: 1;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid transparent;
}

.page-link:hover,
.page-link.active {
  border-color: #ff8315;
  background-color: transparent;
  color: #fff;
}

.right-line > * {
  padding-right: 10px;
}

.right-line > * .highlight {
  font-size: 18px;
}

.right-line > * .highlight [class^="flaticon-"]:before,
.right-line > * .highlight [class*=" flaticon-"]:before,
.right-line > * .highlight [class^="flaticon-"]:after,
.right-line > * .highlight [class*=" flaticon-"]:after {
  font-size: 14px;
  margin-left: 0;
}

.info-panel a.nik {
  color: #fff;
  font-size: 18px;
}

.authorisation .nick {
  height: 25px;
  overflow: hidden;
  max-width: 200px;
}

.info-panel .block-item {
  text-align: center;
  padding-top: 83px;
  margin-top: -20px;
  background: url(/img/win.png) no-repeat center top;
  position: relative;
}

.info-panel .block-item .panel-item {
  position: absolute;
  top: 48%;
  left: 50%;
  margin-bottom: 10px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info-panel .block-item .game-number {
  font-size: 14px !important;
}

.panel-info p {
  margin-bottom: 6px !important;
  text-align: left;
}

a.border {
  display: inline-block;
}

.wrap {
  word-wrap: break-word;
}

.d-flex > div {
  max-width: 100%;
}

.slide-line-win li img {
  width: 88px;
  height: 88px;
}

.slide-line-win li.active img {
  border: 1px solid #fff;
}

.slide-line-win li.active .win-text {
  position: absolute;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  top: 3px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.slide-line.slide-roll {
  border: 0;
  overflow-x: auto;
  height: auto;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.card.basket {
  min-width: 182px;
  text-align: left;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card.basket .flaticon-coins:before,
.card.basket .flaticon-coins:after {
  font-size: 10px;
}

.slide-roll .nav li a .caption.caption-top,
.shop .nav li a .caption.caption-top {
  top: 0;
  border: 0;
  bottom: auto;
  border-top: 5px solid #fa7702;
  background: none;
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
  padding: 2px;
  text-align: left;
}

.slide-roll .nav li a .caption.caption-bot,
.shop .nav li a .caption.caption-bot {
  background: none;
  border: 0;
}

.slide-roll .nav li a .caption.caption-bot .flaticon-coins:before,
.slide-roll .nav li a .caption.caption-bot .flaticon-coins:after,
.shop .nav li a .caption.caption-bot .flaticon-coins:before,
.shop .nav li a .caption.caption-bot .flaticon-coins:after {
  font-size: 10px;
  color: #fa7702;
}

.slide-roll .nav li,
.shop .nav li {
  border: 0;
  padding-left: 1px;
  padding-right: 1px;
  width: 133px;
}

.slide-roll .nav li a,
.shop .nav li a {
  border: 1px solid #fa7702;
  height: 105px;
  padding-top: 10px;
}

.line-btn .btn {
  padding: 0;
  width: 35px;
  height: 35px;
  line-height: 32px;
  border: 1px solid #ff8315;
}

.line-btn .btn.danger {
  border-color: #ff2121;
}

.line-btn .btn.success {
  border-color: #19fc01;
}

.line-btn .btn [class^="flaticon-"]:before,
.line-btn .btn [class*=" flaticon-"]:before,
.line-btn .btn [class^="flaticon-"]:after,
.line-btn .btn [class*=" flaticon-"]:after {
  font-size: 22px;
  margin: 0;
}

.flaticon-coins.color:before,
.flaticon-coins.color:after {
  color: #ff8315;
}

hr {
  border-top: 1px solid #ff8315;
}

.filter {
  padding: 9px;
  font-size: 14px;
}

.filter .filter-left .btn.btn-border {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  border-color: #ff8315;
  width: 100px;
}

.gutter-1 {
  margin-left: -5px;
  margin-right: -5px;
}

.gutter-1 > * {
  padding-left: 5px;
  padding-right: 5px;
}

.form-group .form-control.form-control-lg {
  height: 35px;
}

.filter-choiсe .btn {
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.filter-choiсe .btn:nth-child(even) {
  background: #2d2d2d;
}

.dropdown-toggle::after {
  border-top-color: #ff8315;
}

.dropdown-toggle::after {
  border-width: 6px;
  vertical-align: .15em;
}

.shop .nav {
  margin-left: -6px;
  margin-right: -6px;
}

.shop .nav li {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 132px;
}

.shop .nav li a {
  width: 130px;
  overflow: hidden;
}

.shop .nav li a .badge {
  position: absolute;
  right: 3px;
  top: 30%;
  font-size: 11px;
  font-weight: 700;
  color: #000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ff8315;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 18px;
}

.text-small {
  font-size: 14px;
}

.text-small a {
  color: #ff8315;
}

a.text-uppercase {
  color: #ff8315;
  text-decoration: underline;
}

a.text-uppercase:hover {
  text-decoration: none;
}

.no-gutters .btn-left.btn-sm {
  height: 27px;
  font-size: 14px;
}

.form-link .form-control {
  color: #fff;
}

.form-link .form-control,
.form-link .btn.btn-left {
  height: 40px;
  border-color: #fff;
}

.form-link .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.form-link .form-control:-ms-input-placeholder {
  color: #fff;
}

.form-link .form-control::-webkit-input-placeholder {
  color: #fff;
}

.title-color {
  color: #ff8315;
}

.table {
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
}

.table-support.table.table-striped.table-top th {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 50px;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
}

.table-support.table.table-striped.table-top th:first-child {
  border-left: 1px solid #fff;
}

.table-support.table.table-striped.table-top th:last-child {
  border-right: 1px solid #fff;
}

.table-support.table.table-striped.table-top td {
  font-size: 14px;
  border-color: #ff8315;
}

.table-support.table.table-striped.table-top td:last-child {
  color: #ff8315;
}

.link-bordered {
  text-decoration: underline;
}

.link-bordered:hover {
  text-decoration: none;
}

.no-style {
  padding-left: 15px;
}

.form-referal.form-link .btn-left.btn-sm {
  text-transform: none;
}

.form-control-label {
  text-transform: uppercase;
  color: #ff8315;
  font-weight: 400;
  display: block;
  text-align: left;
  margin-bottom: 0;
}

.content .card .card-body .form-referal p {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: -10px;
}

.refer {
  padding-top: 10px;
  padding-bottom: 50px;
  background: url(/img/refer-empty.png) no-repeat left bottom;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  width: 20%;
  margin-bottom: 60px;
  position: relative;
}

.refer.refer_full {
  background-image: url(/img/refer-full.png);
}

.refer.refer-half {
  background-image: url(/img/refer-half.png);
}

.refer span {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.refer .perсent {
  font-size: 24px;
  border: 2px solid #ff8315;
  width: 80px;
  display: inline-block;
}

.refer.full-rezult:after,
.refer.half-rezult:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 48px;
  display: block;
  background: url(/img/users.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-18px, 10px);
      -ms-transform: translate(-18px, 10px);
          transform: translate(-18px, 10px);
}

.refer.half-rezult:after {
  left: 100%;
}

.refer-block {
  margin-bottom: 29px;
}

.text-small {
  line-height: 24px;
}

.text-small .flaticon-coins:before {
  font-size: 14px;
  color: #ff8315;
}

.content .card .card-body.card-write {
  padding-left: 40px;
  text-align: left;
}

.content .card .card-body.card-write .link-bordered {
  color: #ff8315;
}

.content .card .card-body.card-write .text-title {
  text-transform: uppercase;
  color: #ff8315;
  display: block;
  line-height: 1;
}

.content .card .card-body.card-write .text-title span {
  vertical-align: middle;
  display: inline-block;
}

.content .card .card-body.card-write .text-title span:before {
  font-size: 32px;
  margin-left: -35px;
  margin-right: 3px;
}

.card-striped .card {
  margin-bottom: 3px;
}

.card-striped .card:nth-child(even) {
  background-color: #1f1f1f;
}

.nik {
  max-width: 200px;
  height: 24px;
  display: block;
  overflow: hidden;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .promo .card .card-body {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .hidden-lg {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .refer-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .refer-block .refer {
    width: 50%;
  }
  .nav-fill.filter .nav-item {
    width: -webkit-calc(50% - 6px);
    width: calc(50% - 6px);
    margin-bottom: 6px;
  }
  .table-item .item-text {
    padding: 10px;
  }
  .table-item .item-last {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-right: 0;
  }
  .table-item .item-last > a {
    display: block;
    padding: 5px 0;
  }
  .table-item .item-last span {
    position: relative;
    width: 100%;
    background: rgba(119, 207, 232, 0.451);
    padding: 5px 0;
  }
  .table-item .item-last span i {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .table-item > div {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .nav-fill.filter .nav-item {
    width: -webkit-calc(100% - 6px);
    width: calc(100% - 6px);
  }
  .row-line .item {
    width: 290px;
    padding-right: 0;
  }
  .btn.btn-lg.btn-sign span {
    font-size: 18px;
    padding-left: 65px;
    -webkit-background-size: auto 70%;
            background-size: auto 70%;
  }
  .group-large.input-group > .form-control {
    width: 100%;
    margin-bottom: 10px;
  }
  .group-large .input-group-prepend {
    margin-right: 0;
    width: 100%;
  }
}
